Functional
1เพิ่มหรือลบรายการสิ่งที่ต้องทำ 
2ตั้งค่าวัน เวลา ที่กำหนดส่งได้
3ค้นหางานที่ต้องทำในช่วงเวลาใดๆก็ได้
4สามารถแจ้งเตือนเมื่อถึงกำหนดเวลา
5ดูรายการย้อนหลังได้
6แก้ไขรายการสิ่งที่ต้องทำ
7printได้
8สามารถนำรายการที่ต้องทำไปแสดงบนปฏิทิน
9กำหนดค่าชนิดของรายการได้ เช่น ออกกำลังกาย ซื้อของ
10แชร์ข้อมูลได้
11ใช้งานร่วมกันภายในกลุ่มได้   (Functional เจ๋งๆ)
12login-logout ได้
13สมัครสมาชิกได้
14แก้ไขข้อมูลส่วนตัวได้

Non-Functional requirements
1แจ้งเตือนโดยมีค่าดีเลย์ 3 วินาที    (Performance requirements)
2ค้นหาข้อมูลโดยมีค่าดีเลย์ 2 วินาที (Performance requirements)
3คำแนะนำเมื่อเกิดข้อผิดพลาด (usability requirements)
4ระบบสามารถทำงานได้อย่างสม่ำเสมอ (Reliability requirements)
